@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(126, 131, 126);
    color: black;
}

h1 {
    font-size: 2rem;
}

.imgFood {
    height: 500px;
    width: 500px;
}

.content {
    padding: 1rem;
}
